html,
body {
    height: 100%;
    margin: 0;
}

* {
    font-family: 'Times New Roman', Times, serif;

}

h1 {
    color: rgb(60, 60, 60);
}

h3 {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    margin-top: 0;
    text-align: center;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
}

main {
    padding-bottom: 100px;
}

footer {
    position: relative;
    display: block;
    margin-top: -100px;
    border-top: 2px solid rgba(0, 0, 0, 0.336);
    font-size: 80%;
    z-index: -1;
}

#sorting-container {
    display: none;
    justify-content: center;
    border-top: 2px solid rgba(0, 0, 0, 0.336);
}

.card-wrapper {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
}

.card {
    position: relative;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    visibility: hidden;
    opacity: 0;
}

.opacity {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

@media screen and (min-width: 641px) {
    .card {
        width: 450px;
    }
}

@media screen and (max-width: 640px) {
    .card {
        width: 90%;
    }
}

.card-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-article>* {
    margin-top: 10px;
    margin-bottom: 10px;
}


.card-image {
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
    display: block;
}

.card-user-name {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.people-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.person-container {
    display: flex;
    width: 250px;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.person-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: scale(1.05);
}

.person-avatar {
    /* display: inline-block; */
    width: 80px;
    height: 80px;
    background: no-repeat center;
    background-size: cover;
    border-radius: 50%;
    margin: 5px;
}

.person-name {
    /* display: inline-block; */
    padding: 10px;
}

.close-button {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
}

.close-button:after {
    content: '✖';
    /* UTF-8 symbol  /U{2716} */
}

.close-button:hover {
    cursor: pointer;
}

#loader {
    margin: 0 auto;
    margin-top: 30px;
    border: 16px solid #e2e2e2;
    border-radius: 50%;
    border-top: 16px solid #50505093;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.signature {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

.signature p {
    margin: 0;
    padding: 0;
}